<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="six columns">
        <p>&copy; Simon.</p>
      </div>
      <div class="six columns">
        <ul class="link-list right">
          <li><a href="http://twitter.com">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>