<!DOCTYPE html>
<html>
<head>
<title>Tower of hanoi</title>
<link rel="stylesheet" type="text/css" href="hanoi.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="hanoi.js"></script>
</head>

<body>

<div class="col" id="col1">
  <div class="disk" id="d3" data-weight="3">
  3
  </div>

  <div class="disk" id="d2" data-weight="2">
  2
  </div>

  <div class="disk" id="d1"  data-weight="1">
  1
  </div>

</div>

<div class="col" id="col2"></div>
<div class="col" id="col3"></div>

<div id="mvd1left">move disk 1 left</div>
<br>
<div id="mvd1right">move disk 1 right</div>
<br>
<br>
<div id="mvd2left">move disk 2 left</div>
<br>
<div id="mvd2right">move disk 2 right</div>
<br>
<br>
<div id="mvd3left">move disk 3 left</div>
<br>
<div id="mvd3right">move disk 3 right</div>
<br>

</body>

</html>