#users
  = link_to('Add New Genre', new_genre_path, :class => 'button') if is_admin

  %table
    -@genres.each do |genre|
      %tr
      %td= link_to(genre.name, genre_path(genre))
      %td= link_to('Edit', edit_genre_path(genre), :method => 'get', :class => 'button')if is_admin